* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(234, 234, 249)
}

h1 {
  padding-top: 20px;
  text-align: center;
  /* border: 2px solid blue; */
  height: 15vh;
  min-height: 80px;
  background-color: rgb(228 225 242);
}

.container {
  background-color: rgb(213 231 239);
  /* border: 2px solid blue; */
  gap: 0.5em;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  padding: 20px;
  text-align: center;
  position: relative;
}



#imageInput {
  margin-bottom: 10px;
  /* margin-left: 15%; */
}

#extractButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#extractButton:hover {
  background-color: #0056b3;
}

#result {
  /* background-color: red; */
  font-weight: bold;
  font-size: 18px;
  /* border: 2px solid red; */
  max-width: 70%;
  text-align:center;
  margin: 5% auto;
  text-align: justify;
}


.spin-container{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid rgb(3, 10, 80);
  border-left-color: #1e87f0;;
  position: absolute;
  top: 54%;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}